{% extends "header.html" %}

{% block content %}  


<div class="row justify-content-center my-5">
    <div class="col-md-5">
        <div class="mt-4 p-5 bg-success text-white rounded mb-3">
            <h1>Favourite Cities</h1>
        </div>
    </div>
</div>
<div class="row justify-content-center my-5">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <ul id="weather-list"></ul>
            </div>
        </div>
    </div>
</div>


<script>

const weatherList = document.getElementById('weather-list');

async function fetchWeather(cityName) {
    const API_KEY = "4ec39eeea853eba976a2f2022ad32ebd";
    let url = `https://api.openweathermap.org/data/2.5/weather?q=${cityName}&appid=${API_KEY}&units=metric`;

    const response = await fetch(url);
    const data = await response.json();
    
    const temperature = data.main.temp;
    const humidity = data.main.humidity;
    const listItem = document.createElement('li');
    listItem.textContent = `City: ${cityName}, Temperature: ${temperature} °C, Humidity: ${humidity}%`;
    weatherList.appendChild(listItem);
}

const list_cities = [
    {% for city in cities %}
        '{{ city }}',
    {% endfor %}
];

function fetchWeatherForCities(list_cities) {

    for (const index_num in list_cities) {
        console.log(list_cities[index_num]);
        fetchWeather(list_cities[index_num]);
    }
}


fetchWeatherForCities(list_cities);

</script>

{% endblock %}